body {
    background-color: rgb(32, 32, 32);
}

#branch-select {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

#header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: #ffffff;
}